modules = ["nodejs-20", "web", "postgresql-16"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Next.js Dev Server"

[[workflows.workflow]]
name = "Next.js Dev Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[workflows.workflow]]
name = "Start Bank"
author = 49796522
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 36741
externalPort = 3003

[[ports]]
localPort = 37345
externalPort = 3002

[[ports]]
localPort = 38729
externalPort = 8000

[[ports]]
localPort = 39215
externalPort = 6000

[[ports]]
localPort = 40021
externalPort = 6800

[[ports]]
localPort = 40233
externalPort = 3001

[[ports]]
localPort = 42465
externalPort = 5173

[[ports]]
localPort = 44139
externalPort = 3000

[[ports]]
localPort = 44583
externalPort = 4200

[[ports]]
localPort = 44649
externalPort = 5000
